{% extends 'student/common.html' %}
{% load static %}
{% block content %}




  <div class="inner-page-wrapper course-wrapper">

    <div class="container">
  
      <div class="row offset-top-40">
        {% for job in data %}
      
        <div class="col-sm-6 col-md-4">
  
          <div class="single-item">
  
            <div class="single-item-image overlay-effect"> <a href="#"><img src="images/courses-img1.jpg" alt=""></a> </div>
  
            <div class="single-item-text">
  
              <h4><a href>{{job.name}}</a></h4> 
              <p><strong>Company_Name: {{ job.company_name }}</strong></p>
              <p><strong>Location :{{ job.location }}</strong></p>
              <p><strong>Salary:</strong> {{ job.salary }}</p>
              <p><strong>Description:</strong> {{ job.description }}</p>
              <p><strong>Eligibility:</strong> {{ job.eligibility_criteria }}</p>
              <p><strong>Posted on:</strong> {{ job.created_at|date:"F d, Y" }}</p>
              <p><strong>Deadline:</strong> {{ job.application_deadline|date:"F d, Y" }}</p>
  
              {% comment %} <div class="single-item-content">
  
                <div class="single-item-comment-view"> <span><i class="fa fa-eye"></i>259</span> <span><i class="fa fa-comment-o"></i>19</span> </div>
  
                <div class="single-item-rating"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </div>
  
              </div> {% endcomment %}
  
            </div>
                {% comment %} <div class="button-bottom"> <a href="/courses?id={{i.id}}" class="btn button-default">Courses</a> </div> {% endcomment %}
          </div>
        
        </div>
        {% endfor %}
      </div>
  
    </div>
  
  </div>




{% endblock %}