{% extends 'admin/common.html' %}
{% load static %}
{% block content %}







  {% comment %} <div class="inner-page-wrapper course-wrapper">

    <div class="container">
  
      <div class="row offset-top-40">
        
        <div class="col-sm-6 col-md-4">
          {% for i in data %}
          {% if  i.user.is_active == 1 %}
          <div class="single-item">
            
  
            <div class="single-item-image overlay-effect"> <a href="#"><img src="./static/assets/{{i.image}}" alt="image" style="height: 300px;"></a> </div> 
  
            <div class="single-item-text">
  
              <h4><a href=>College Name:{{i.name}}</a></h4>
  
              <div class="single-item-text-info">  <span>Location: <span>{{i.location}}</span></span> </div>
  
              <p>Email:{{i.email}}</p>
              <p>Contact:{{i.phone}}</p>
  
              <div class="single-item-content">
  
                <div class="single-item-comment-view"> <span><i class="fa fa-eye"></i>259</span> <span><i class="fa fa-comment-o"></i>19</span> </div>
  
                <div class="single-item-rating"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </div>
  
              </div>
              <div class="button-bottom"> 
                <a href="clgapprove?id={{i.id}}" class="btn button-default">Approve</a> 
               <a href="clgreject?id={{i.id}}" class="btn button-default">Reject</a> 
              </div>
              {% endif %}
            </div>
          </div>
          
          {% endfor %}
        </div>
        
  
      </div>
  
    </div>
  
  </div> {% endcomment %}




  <div class="inner-page-wrapper course-wrapper">

    <div class="container">
  
      <div class="row offset-top-40">
        {% for i in data %}
        {% if  i.user.is_active == 0 %}
        <div class="col-sm-6 col-md-4">
  
          <div class="single-item">
  
            <div class="single-item-image overlay-effect"> <a href="#"><img src="images/courses-img1.jpg" alt=""></a> </div>
  
            <div class="single-item-text">
  
              <h4><a href>Name:{{i.name}}</a></h4>
  
              <div class="single-item-text-info"><span>Location <span>{{i.location}}</span></span> </div>
  
              <p>Email:{{i.email}}</p>
              <p>Contact:{{i.phone}}</p>
  
              {% comment %} <div class="single-item-content">
  
                <div class="single-item-comment-view"> <span><i class="fa fa-eye"></i>259</span> <span><i class="fa fa-comment-o"></i>19</span> </div>
  
                <div class="single-item-rating"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </div>
  
              </div> {% endcomment %}
  
            </div>
            <div class="button-bottom"> 
              <a href="clgapprove?id={{i.user.id}}" class="btn button-default">Approve</a> 
             <a href="clgreject?id={{i.id}}" class="btn button-default">Reject</a> 
            </div>
  
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
  
    </div>
  
  </div>


  <div class="inner-page-wrapper course-wrapper">

    <div class="container">
      <h1 >Approved College</h1>
      <div class="row offset-top-40">
        {% for i in data %}
        {% if i.user.is_active == 1 %}
        <div class="col-sm-6 col-md-4">
      
          <div class="single-item">
      
            <div class="single-item-image overlay-effect"> 
              <a href="#"><img src="./static/assets/{{i.image}}" alt="image" style="height: 300px;"></a> 
            </div>
      
            <div class="single-item-text">
              <h4><a href="#">Name: {{i.name}}</a></h4>
              <div class="single-item-text-info"><span>Location <span>{{i.location}}</span></span></div>
              <p>Email: {{i.email}}</p>
              <p>Contact: {{i.phone}}</p>
            </div>
      
            <!-- 🛠 This part was commented out before -->
            <div class="button-bottom"> 
              <a href="clgreject?id={{i.id}}" class="btn btn-warning">Unapprove</a> 
            </div>
      
          </div>
        </div>
        {% endif %}
      {% endfor %}
      
      </div>
  
    </div>
  
  </div>

{% endblock %}