{% extends 'college/common.html' %}
{% load static %}
{% block content %}

<div class="inner-page-wrapper course-wrapper">
  <div class="container">
    <div class="row offset-top-40">
      {% if data %}
        {% for i in data %}
        <div class="col-sm-6 col-md-4">
          <div class="single-item">
            <div class="single-item-image overlay-effect">
              <a href="#"><img src="/static/assets/{{i.image}}" alt=""></a>
            </div>

            <div class="single-item-text">
              <h4><a href="#">Name: {{ i.name }}</a></h4>
              <p><a href="#">Mentor: {{ i.mentor.name }}</a></p>
              <div class="single-item-text-info">
                <span>Duration: <span>{{ i.duration }}</span></span>
              </div>
              <p>Fees: {{ i.fees }}</p>
              <p>GPA: Students with more than {{ i.gpa }}% can join</p>
              <p>{{ i.details }}</p>
            </div>

            <div class="button-bottom">
              <a href="/update?id={{ i.id }}" class="btn button-default">Update</a>
              <a href="/delCourse?id={{ i.id }}" class="btn button-default">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p class="text-center">No courses added yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
