{% extends 'common.html' %}
{% load static %}
{% block content %}


{% for m in messages %}
    <script>
        alert('{{m}}');
    </script>
{% endfor %}

<div class="inner-page-wrapper contact-wrapper">

    <div class="container">
  
      <div class="row">
  
        <div class="col-md-9 col-sm-8">
  
          <div class="contact-text-container">
  
           
            <form method="POST" action="">
              {% csrf_token %}
  
              <div class="row">
  
                <div class="col-md-8 col-xs-12">
  
                  <div class="form-group">
  
                    <input name="email" required class="form-control form-item" placeholder="email" type="text">
  
                  </div>
  
                </div>
  
                <div class="col-md-8 col-xs-12">
  
                  <div class="form-group">
  
                    <input name="password" required class="form-control form-item"  placeholder="password" type="password">
  
                  </div>
  
                </div>
  
                <div class="col-xs-12">
  
                  <button class="btn btn-1" type="submit">Submit</button>
  
                </div>
  
              </div>
  
            </form>
  
          </div>
  
        </div>
{% comment %}   
        <div class="col-md-3 col-sm-4">
  
          <div class="contact-social">
  
            <address> {% endcomment %}
  
            {% comment %} <ul>
  
  
              <li><i class="fa fa-envelope-o"></i><a href="javascript:void(0)">support@college.education</a></li>
  
              <li><i class="fa fa-twitter"></i><a href="javascript:void(0)">Twitter</a></li>
  
              <li><i class="fa fa-dribbble"></i><a href="javascript:void(0)">Dribbble</a></li>
  
              <li><i class="fa fa-youtube"></i><a href="javascript:void(0)">You Tube</a></li>
  
              <li><i class="fa fa-pinterest"></i><a href="javascript:void(0)">Pinterest</a></li>
  
              <li><i class="fa fa-linkedin"></i><a href="javascript:void(0)">Linkedin</a></li>
  
              <li><i class="fa fa-instagram"></i><a href="javascript:void(0)">Instagram</a></li>
  
            </ul>
  
            </address> {% endcomment %}
  
          {% comment %} </div>
  
        </div> {% endcomment %}
  
      </div> 
  
    </div>
  
    {% comment %} <div id="google-map">
  
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198710.35112897935!2d-98.51489117772236!3d38.904562823631146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1471865832140" allowfullscreen=""></iframe>
  
    </div> {% endcomment %}
  
  </div>
  {% endblock %}